.writeEditor{
  height: 100%;

  &__markDownEditor {
    width: 100%;
    display: inline-block;
    outline-style: none;
    height: 77rem - 18.8rem;
    font-size: 1.6rem;
    border: none;
    resize: none;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }
}