@import '../../../../style/scss/CommonLayout';
@import '../../../../style/scss/CommonUtil';

.postContent {
  text-align: left;
  margin-top: 3.2rem;

  @media screen and (max-width: $mobile-width) {
    padding: 0 2rem 0 2rem;
  }

  @media screen and (max-width: $phone-width) {
    padding: 0 1.6rem 0 1.6rem;
  }

  &__header {
    padding: 0;
    margin-bottom: 4.5rem;
    border-bottom: .1rem solid #eee;

    &__title {
      line-height: 5.72rem;
      letter-spacing: -.22rem;
      word-break: break-word;
      font-weight: 700;

      font-size: 4.4rem;
      margin-top: 3rem;
      margin-bottom: 1rem;
      color: $title-font-color;

      @media screen and (max-width: $phone-width) {
        font-size: 4rem;
      }
    }
  }

  &__content {
    color: $custom-black-color !important;
    word-break: break-all;
  }
}
