@import '../../../style/scss/CommonUtil';
@import '../../../style/scss/CommonLayout';


.content {
  background-color: $white-color !important;
  min-height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100rem;
  padding: $main-header-height+2rem 0;

}

.editMode {
  height: calc(100% - 6.2rem);
  min-height: calc(100% - 6.2rem);
  min-width: 100%;
  margin-top: 6rem;
  padding: 0;
}
