@import '../../../../style/scss/CommonUtil';
@import '../../../../style/scss/CommonLayout';

$header-height: 6rem;

.writeView__header {
  height: $header-height;

  &__title {
    color: $main-theme-color;
    font-size: 3rem;
    font-weight: bold;
  }

  &__saveButton {
    float: right;
    text-align: center;
    font-size: 1.6rem;
    width: 8rem;
    @extend .main-button;
  }
}

.writeView__content{
  width: 100%;
  display: inline-block;
  outline-style: none;
  height: 77rem - $header-height;
  border: none;
  resize: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
}