@import '../../../../style/scss/CommonUtil';
@import '../../../../style/scss/CommonLayout';

$header-height: 6rem;

.writeViewer {
  height: calc(100% - 4rem);
  width: calc(100% - 4rem);
  padding: 2rem;

  &__title {
    font-size: 3.2rem;
    font-weight: bold;
    color: $main-theme-color;
    padding-bottom: .5rem;
    border-bottom: .2rem solid $custom-gray-color;
    margin-bottom: 3rem;
  }

  &__content {
    width: 100%;
    display: inline-block;
    outline-style: none;
    border: none;
    resize: none;
  }
}