@import '../../../style/scss/CommonUtil';
@import '../../../style/scss/CommonLayout';

.footer {
  height: $main-footer-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: $white-color;
  border-top: .1rem solid $custom-gray-color;
  color: $main-theme-color;
  text-align: center;
  padding-top: 1.6rem;
}

.footer__text {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}