@import '../../style/scss/CommonUtil';
@import '../../style/scss/CommonLayout';


.content{
  background-color: $white-color !important;
  width: 100%;
  height: $main-content-height;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: $main-header-height+2rem 0;

}

.contentWidth{
  max-width: 100rem;
}
