@import '../../style/scss/CommonUtil';
@import '../../style/scss/CommonLayout';



body{font-family: 'Roboto', sans-serif;}

.tag {
  background-color: #78ccdd;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  margin: 15px;
  border-radius: 3px;

}

.contentWrapper{
  background-color: $white-color !important;
  width: 100%;
  height: $main-content-height;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0;
  @media screen and (max-width: $mobile-width){
    margin-top: $main-header-height;
    padding: 3% 0;
  }
}

.contentWidth{
  max-width: 1000px;
}
