@import '../../../../style/scss/CommonUtil';

.postWriteSelector {
  text-align: left;
  margin-bottom: 2rem;
}

.PostWriteFormHeader {
  display: flex;
  height: 6rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;

  input {
    width: 70%;
    border: none;
    outline-style: none;
    font-size: 2.4rem;
  }

  &__right{
    display:flex;

    &__selector{
      width:15rem;
    }

    &__imgInsert {
      margin-left: 2rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @extend .main-button
    }
  }
}

.postWriteContent {
  width: 100%;
  display: inline-block;
  outline-style: none;
  height: 100%;
  font-size: 1.6rem;
  border: none;
  resize: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
}