/*common layout*/
$main-header-height: 6rem;
$main-footer-height: 8rem;
$main-content-height: 100%;
$main-right-width: 24rem;

$content-max-width: 1200px;
/*modal*/
$side-bar-z-index: 50;

$mobile-width: 1024px;

$phone-width: 450px;

