
@import '../../../style/scss/CommonUtil';
@import '../../../style/scss/CommonLayout';

.sideBar{
  border: .1rem solid $custom-gray-color;
  width: $main-right-width;
  height: 100%;
  position: fixed;
  font-size: 1.6rem;
  z-index: $side-bar-z-index*2;
  background-color: $white-color;
  top: $main-header-height;

  right: -$main-right-width;
  transition: all .1s ease;

  ul{
    margin-top: 3.2rem !important;

    li{
      a{
        text-align: left;
        display: block;
        text-decoration: none;
        padding: 1.6rem;
        border-left: .2px solid transparent;
        font-weight: 400;
        color: $main-theme-color;
        cursor: pointer;
      }

      &:hover{
        color: $main-theme-color;
        background-color: $custom-gray-color;
      }
    }
  }

}

.sideBarOpen{
  right: 0;
}

.sideBarWhiteSpace{
  background-color: rgba(0,0,0,.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: $side-bar-z-index;
}

.logout{
  cursor: pointer;
  float:right;
}

.userImage{
  float: left;
  width: 2.5rem;
  margin-right: 1rem;
  border-radius: 50%;
  height: 100%;
  vertical-align: middle;
}
