@import '../../../../style/scss/CommonUtil';
@import '../../../../style/scss/CommonLayout';

$margin-bottom: 1.5rem;

.postItemPlaceHolder {

  text-align: left;
  padding-bottom: 1em;
  padding-top: 1.7em;
  border-bottom: 2px solid $bottom-line-color;

  @media screen and (max-width: $phone-width) {
    padding-bottom: 0.5em;
    padding-top: 1.2em;
  }

  &__title {
    margin-bottom: $margin-bottom;
  }

  &__content {
    margin-bottom: $margin-bottom;
  }

  &__category {
    margin-bottom: $margin-bottom;
  }
}
