@import '../../../../style/scss/CommonUtil';
@import '../../../../style/scss/CommonLayout';

$margin-bottom: 15px;

.postItemPlaceHolder{

    text-align: left;
    padding-bottom: 1em;
    padding-top: 1.7em;
    border-bottom: 2px solid $bottom-line-color;

    @media screen and (max-width: $phone-width){
      padding-bottom: 0.5em;
      padding-top: 1.2em;
    }

  .title{
    margin-bottom: $margin-bottom;
  }

  .content{
    margin-bottom: $margin-bottom;
    >div{
      margin-bottom: 5px;
    }
  }

  .category{
    margin-bottom: $margin-bottom;
  }

}
