@import '../../../../style/scss/CommonLayout';
@import '../../../../style/scss/CommonUtil';

.separator {
  color: #ebebeb !important;
}

.userImage {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.subTitleArea {

  margin-bottom: 2rem;

  @media screen and (max-width: $phone-width) {
    padding-bottom: 2.5rem;
  }

  span {
    color: $side-font-gray-color;
    margin-right: .5rem;
    font-size: 1.6rem;
    display: inline-block;
  }

  .leftArea {
    float: left;
  }


  .rightArea {
    float: right;
  }
}

.eventButton {
  text-align: center;
  width: 6rem;
  font-size: 1.6rem;
  float: right;
  margin-left: 1rem;
  padding: .5rem;
  @extend .main-button;
}

.author {
  margin-right: .5rem;
  width: 3rem;
  height: 3rem;
}

