@import '../../../../style/scss/CommonLayout';
@import '../../../../style/scss/CommonUtil';

.postSubTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  @media screen and (max-width: $phone-width) {
    padding-bottom: 2.5rem;
  }

  span {
    color: $side-font-gray-color;
    margin-right: .5rem;
    font-size: 1.6rem;
    display: inline-block;
  }

  &__userImage {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  &__author {
    margin-right: .5rem;
    width: 3rem;
    height: 3rem;
  }

  &__separator {
    color: #ebebeb !important;
  }

  &__button {
    text-align: center;
    width: 6rem;
    font-size: 1.6rem;
    float: right;
    margin-left: 1rem;
    padding: .5rem;
    @extend .main-button;
  }
}

