.placeHolderBar{
  animation: loading-animation 1.3s infinite ease-in-out;
  border-radius: 3px;
}

@keyframes loading-animation {
  0% {
    background-color: hsl(0,0%,89%);
  }
  50% {
    background-color: hsl(0,0%,85%);
  }
  100% {
    background-color: hsl(0,0%,89%);
  }
}
