@import '../../../style/scss/CommonUtil';
@import '../../../style/scss/CommonLayout';

.mainHeader{
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: $white-color;
  color: $main-theme-color;
  border-bottom-style: solid;
  height: $main-header-height;
  border-color: $custom-gray-color;
  border-width: .1rem .1rem .2rem .1rem;

  @media screen and (max-width: $mobile-width){
    transition: all .2s ease-in-out;
  }


  .mainHeader__logo{
    font-weight: bolder;
    font-size: 2rem;
    padding: 1.6rem;
    cursor: pointer;
  }

  .mainHeader__menu{
    cursor: pointer;
    font-size: 3rem;
    margin: 1.6rem;
  }
}

.mainHeader_hide{
  @media screen and (max-width: $mobile-width){
    top:-$main-header-height;
    border: none;
  }
}
