@import '../../../../style/scss/CommonUtil';
@import '../../../../style/scss/CommonLayout';

$wrapper-height:70rem;
$wrapper-title-height:6rem;

.write{
  padding-top: 2.4rem;
}

.markDownWrapper {
  background-color: #fff;
  padding: 1.6rem;
  width: 44%;
  display: inline-block;
  height: $wrapper-height;
  word-break: break-word;

  @media screen and (max-width: $mobile-width){
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .titleArea{
    height: $wrapper-title-height;
  }

  .contentArea{
    overflow-y: scroll;
    -ms-overflow-style: none;
    height: $wrapper-height -$wrapper-title-height;
    cursor: pointer;
  }

}
.saveBtn{
  float: right;
  text-align: center;
  width: 8rem;
  @extend .main-button;
}


.previewTitle{
  color: $main-theme-color;
  font-size: 4.8rem;
  font-weight: bold;
}

.markDownWrapper img{
  max-width: 100%;
}

.view{
  text-align: left;
}
.edit{
  margin-right: 4.8rem;

  @media screen and (max-width: $mobile-width){
    margin-right: 0;
  }
}