@import '../../../../style/scss/CommonUtil';
@import '../../../../style/scss/CommonLayout';

$wrapper-height: 77rem;

.write {
  display: flex;
  flex-direction: column;

  &__header{
    width: 100%;
    height: $main-header-height;
    border-bottom: .2rem solid $custom-gray-color;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    &__editor {
      @extend .viewer;
    }

    &__preview {
      @extend .viewer;
      text-align: left;
    }
  }


}

.viewer {
  background-color: #fff;
  width: 47.5%;
  display: inline-block;
  height: $wrapper-height;
  word-break: break-word;

  @media screen and (max-width: $mobile-width) {
    width: 100%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
